* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

/* CSS for background video */
#VidBG {
  width: 110vw;
  position: fixed;
  overflow: hidden;
  bottom: 10vh;
  z-index: 0;
}

@media screen and (max-width: 992px) {
  #VidBG {
    width: auto;
    height: 80vh;
    /* bottom: 14vh; */
    bottom: 10vh;
    /* top: 10vh; */
  }
}